$primaryLight: #b7c3f3;
$secondaryLight: #ffb4a2;
$tertiaryLight: #95f2d9;

$primaryDark: #100942;
$secondaryDark: #014045;
$tertiaryDark: #360D42;

$background: #ececec;
$foreground: #14110f;

$alert: #ff4e4e;


